<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/logo-ws.png"/>
        <span id="welcomeHeader">Bienvenue sur Wizards Story</span>
        <span id="welcomeDescription">WS est un serveur roleplay sur Minecraft ou vous incarnerez un sorcier/une sorcière de la communauté magique de la célèbre saga Harry Potter. Ce serveur vous donnera la possibilité de créer votre propre personnage et l'incarner au sein même de l'univers d'Harry Potter, découvrez Poudlard mais aussi Pré-au-Lard sans oublier le célèbre Chemin de Traverse tout en interagissant avec d'autres joueurs, en vocal! Vos actes et vos choix définiront votre aventure qui sera alors alimentée par de nombreuses fonctionnalités, Elles vous permettront de vous immiscer au cœur de votre univers préféré.</span>
        <br>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>